@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}


@layer base {
  :root {
    --background: 283 47% 3%;
    --foreground: 276 28% 93%;
    --card: 283 47% 3%;
    --card-foreground: 276 28% 93%;
    --popover: 283 47% 3%;
    --popover-foreground: 276 28% 93%;
    --primary: 277 72% 53%;
    --primary-foreground: 276 28% 93%;
    --secondary: 277 80% 35%;
    --secondary-foreground: 276 28% 93%;
    --muted: 283 47% 80%;
    --muted-foreground: 276 28% 93%;
    --accent: 271 91% 65%;
    --accent-foreground: 276 28% 93%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 276 29% 10%;
    --border: 240 3.7% 15.9%;
    --input: 283 47% 80%;
    --ring: 308 100% 60%;
    --radius: 0.50rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.work-border {
  animation: spin 3s linear infinite;
}


@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}