@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  background: url('/img-noise-361x370.png') repeat;
}

@layer base {
  :root {
    --background: 282 87% 97%;
    --foreground: 281 85% 8%;
    --card: 282 87% 97%;
    --card-foreground: 281 85% 8%;
    --popover: 282 87% 97%;
    --popover-foreground: 281 85% 8%;
    --primary: 283 86% 28%;
    --primary-foreground: 282 87% 97%;
    --secondary: 321 87% 68%;
    --secondary-foreground: 281 85% 8%;
    --muted: 282 86% 20%;
    --muted-foreground: 281 86% 70%;
    --accent: 338 86% 43%;
    --accent-foreground: 282 87% 97%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 281 85% 8%;
    --border: 282 86% 20%;
    --input: 282 86% 20%;
    --ring: 338 86% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 280 88% 3%;
    --foreground: 282 85% 92%;
    --card: 280 88% 3%;
    --card-foreground: 282 85% 92%;
    --popover: 280 88% 3%;
    --popover-foreground: 282 85% 92%;
    --primary: 283 86% 72%;
    --primary-foreground: 280 88% 3%;
    --secondary: 321 86% 32%;
    --secondary-foreground: 282 85% 92%;
    --muted: 280 88% 80%;
    --muted-foreground: 282 85% 92%;
    --accent: 338 86% 57%;
    --accent-foreground: 280 88% 3%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 282 84% 10%;
    --border: 280 88% 60%;
    --input: 280 88% 80%;
    --ring: 338 86% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.full-section {
  box-shadow: 0 0 0 100vmax hsl(var(--secondary));
  clip-path: inset(0 -100vmax);
  background-color: hsl(var(--secondary));
}
