<footer
  class='flex items-center justify-between border-t border-white/20 opacity-60 py-8 px-4'
>
  <p class='flex flex-col md:flex-row gap-1 items-center'>
    <a
      target='_blank'
      class='hover:underline'
      href='https://github.com/vengxdor'> © 2024 Steven Fernandez </a
    >
    <span class='hidden md:block'>-</span>
    <span> Some rights reserved. </span>
  </p>
  <a class='hover:underline' href='mailto:fernandezsteven185@gmail.com'
    >Contact</a
  >
</footer>
