---
import { FaGithub, FaLinkedin, FaTwitter } from "react-icons/fa";
---

<footer class="">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <p class="text-gray-400">© 2025 Steven Fernandez. All rights reserved.</p>
    <div class="flex space-x-4 *:text-xl">
      <a href="#" class="text-gray-400 hover:text-purple-500 transition-all duration-300"><FaGithub /></a>
      <a href="#" class="text-gray-400 hover:text-purple-500 transition-all duration-300"><FaLinkedin /></a>
      <a href="#" class="text-gray-400 hover:text-purple-500 transition-all duration-300"><FaTwitter /></a>
    </div>
  </div>
</footer>