<footer class='flex items-center justify-between border-t border-white/20 opacity-60'>
  <p class='p-4 pt-6 text-center '>
    © 2024 <a target='_blank' class='hover:underline' href='https://github.com/vengxdor'>Steven Fernandez</a> - Some rights reserved.
  </p>
  <a class='hover:underline' href="mailto:fernandezsteven185@gmail.com">Contact</a>
</footer>