<span class='flex'>
    <a
      target='_blank'
      href='https://www.linkedin.com/in/steven-fernandez-11a522274/'
      class='relative mb-3 flex overflow-hidden rounded-full p-px focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50'
    >
      <span
        class='work-border absolute inset-[-1000%] bg-[conic-gradient(from_90deg_at_50%_50%,hsl(var(--secondary))_10%,hsl(var(--accent))_100%)]'
      ></span>
      <span
        class='inline-flex size-full cursor-pointer items-center justify-center rounded-full bg-background px-3 py-1 text-sm font-medium text-accent backdrop-blur-3xl'
      >
        Avaible for work
      </span>
    </a>
  </span>